<% content_for :title, "New tenant" %>

<h1>New tenant</h1>
<%= turbo_frame_tag "new_tenant_form" do %>
  <%= render "form", tenant: @tenant %>
<% end %>

<br>

<div>
  <%= link_to "Back to tenants", tenants_path %>
</div>
