<section class="w-full h-full">
  <header class="w-full flex items-center justify-between border-b border-slate-800/20 mb-4 pb-1">
    <div>
      <h1 class="text-xl font-bold leading-2.5">Dashboard</h1>
      <small class="text-slate-600 leading-0">See your work at a glance.</small>
    </div>
    <div class="flex items-center gap-4 text-sm">
      <%= render partial: "devise/shared/logout" %>
    </div>
  </header>
</section>
